.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22201c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}

/* Flex */

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-class {
  margin: 5px 15px;
  text-decoration: none;
  color: #22201c;
  font-size: 26px;
  font-weight: 500;
}

/* Display card styles */

.display-card {
  margin: 10px 15px;
  padding: 20px;
  width: 300px;
  border: 1px solid lightgray;
}
